body {
    background-color: #FAEBD7;

}

.containter {
    color: #FAEBD7;
}


.jumbotron {
    background-image: url("/assets/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    color: white;
}

#newburger {
    color: black;
    background-color: #FAEBD7;

}

.burguerdata {
    color: white;
    font-size: 50px;
}



#eatbutton {
    float: right;

}

#trashbutton {
    float: right;
    background-color: red;
}